:root {
	--menuText: #ffd05a;
	--headerMenu: #40596b;
	--row1Background: #55c0ec;
	--row3Background: #90ddaa;
	--footerText: hsla(0, 0%, 100%, 0.75);
	--footerBackground: #40596b;
	--cardColor: #405966;
}

* {
	display: grid;
	font-display: swap;
}
