
header.header {
	display: grid;
	grid-template: auto/auto;
	justify-items: center;
	align-items: center;
	background-color: #40596b;
	width: 100%;
	margin: auto;
}

nav.navMenu {
	display: grid;
	grid-template: 1fr/auto auto auto auto;
	justify-items: space-around;
	align-items: center;
	height: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	width: auto;
}

a.navItem {
	display: grid;
	grid-template: 1fr/1fr;
	align-items:center;
	justify-items: start;
	color: #ffd05a;
	text-decoration: none;
	font-size: 18px;
	width: auto;
	margin-left: 15px;
}

section#robot {
	display: grid;
	grid-template: 1fr/1fr;
	justify-items: center;
	align-items: center;
	width: 100%;
	grid-auto-rows: auto;
	background-color: #55c0ec;
}

.doubleContainer {
	display: grid;
	grid-template: 1fr 1fr/1fr;
	border: 3px solid red;
	width: 350px;
}

@media screen and (min-width: 768px){
	.doubleContainer {
		width: 85%;
		max-width: 1000px;
		grid-template: 1fr/1fr 1fr;
	}
}
