section#howItWorksVR {
  background-color: #90DDAA;
  height: 1900px;
  display: grid;
  grid-template: 1fr/1fr;
  justify-items: center;
  align-items: start;
}
.worksContainerVR {
  display: grid;
  grid-template-rows: 125px 1fr;
  width: 90%;
  max-width: 1000px;
  height: 95%;
}

.worksHeadingVR {
  background: transparent;
  display: grid;
  grid-template: 1fr/1fr;
  justify-items: center;
  align-items: center;
}
.cardsContainerVR {
  display: grid;
  grid-template: repeat(3,1fr)/1fr;
}

.cardVR {
  border: 3px solid black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: grid;
  grid-template: 5fr 2fr/1fr;
  margin: 25px;
}
.topThumbnailVR {
  display: grid;
  grid-template: 1fr/1fr;
  justify-items: center;
  align-items: center;
  background-color: #40596B;
}

.topThumbnailVR img {
  width: 250px;
  height: 250px;
}

.cardFooterVR {
  display: grid;
  grid-template: 1fr/1fr;
  justify-items: center;
  align-items: center;
  text-align:center;
  background-color: #FFFFFF;
}

section#howItWorksVR h2 {
  color: rgba(0, 0, 0, 0.75);
  font-size: 40px;
  padding-top: 10px;
}

section#howItWorksVR h2 span {
  color: #000000;
  font-weight: bold;
}

section#usingTickyBotVR {
  height: 600px;
  background-color: #FFFFFF;
  display: grid;
  grid-template: 1fr/1fr;
  align-items: center;
  justify-items: center;
  
}
.usingContainerVR {
  height: 100%;
  width: 90%;
  max-width: 650px;
  background-color: blueviolet;
}
@media only screen and (min-width: 768px){
  section#howItWorksVR {
    height: 1300px;
  }
  .cardsContainerVR {
    grid-template: 1fr 1fr/1fr 1fr;
    grid-template-areas: "card1 card2"
                         "card3 card3";
  }
  #card1VR {
    grid-area: card1;
  }
  #card2VR {
    grid-area: card2;
  }
  #card3VR {
    grid-area: card3;
  }
}
 

@media only screen and (min-width: 1024px){
  section#howItWorksVR {
    height: 650px;
  }
   .cardsContainerVR {
    grid-template: 1fr/repeat(3,1fr);
    grid-template-areas: "card1 card2 card3";
  }
  
 
}

